name: test-and-build

on:
  push:
    branches: ['*']
    tags: ['v*']

  schedule:
    # Periodically test against current Go version
    - cron: '23 4 * * 0'

permissions:
  contents: read

jobs:
  test-and-build:
    defaults:
      run:
        shell: bash

    container:
      image: ghcr.io/luzifer-docker/action-env:master@sha256:73a65e7d437eac915825726c0df83323ceb87fd9caf51a0486fbdf5c94a55ab8
      env:
        CGO_ENABLED: 1
        GOPATH: /go

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Marking workdir safe
        run: git config --global --add safe.directory /__w/rconfig/rconfig

      - name: Run coverage-tests
        run: go test -v -race -cover ./...

      - name: Check code for linter errors
        run: golangci-lint run ./...

      - name: Run Trivy check
        run: |
          trivy fs . \
            --dependency-tree \
            --exit-code 1 \
            --format table \
            --ignore-unfixed \
            --quiet \
            --scanners license,misconfig,secret,vuln \
            --severity HIGH,CRITICAL
